.simple__coupon__wrapper {
  background-color: #f0f0f0;;
  padding:5px;
  text-align: center;
  margin:13px 0;
  .simple__coupon__dashed {
    border: 3px dashed #3c3b3b;
    padding:5px;
  }
    .simple__coupon__content {
      .discount__inline {
        .content__left, .content__right {
          flex:1 50%;
        }
        .content__right {
          justify-content: center;
          .simple__coupon__month__text {
            font-weight: bold;
          }
          display: flex;
          align-items: baseline;
        }
        display:flex;
        align-items: center;
      }
      .simple__coupon__top__text {
        text-align: left;
        padding: 10px;
        margin: 0;
      }
      .simple__coupon__discount {
        color:#b12626;
        font-size: 80px;
        margin:0;
      }
      .simple__coupon__upper__body {
        color:#000;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        margin:0;
      }
      .simple__coupon__lower__body {
        color:#000;
        font-size: 15px;
        margin:0;
      }
    }
    .simple__coupon__bottom {
      display: flex;
      justify-content: space-between;
      .bottom__content__left {
        display: flex;
        flex-flow: column;
        padding-left: 13px;
        .company__logo {
          max-width: 80px;
        }
        a {
          color:#000;
          font-weight: bold;
        }
      }
      .simple__coupon__disclaimer {
        display: flex;
        align-items: end;
        color:#000;
        font-size: 11px;
        padding:12px;
        font-weight: bold
      }
    }
}
@media only screen and (max-width:480px) {
  .discount__inline {
    .content__right {
      justify-content: center;
    }
    display: block!important;
  }
  .simple__coupon__bottom {
    display:block!important;
    img {
      margin:0 auto;
    }
  }
}
@media only screen and (min-width:1000px) {
  .content__left {
    padding-left:20px;
  }
  .simple__coupon__bottom {
    padding-top:20px;
  }
  .simple__coupon__upper__body {
    font-size: 45px;
  }
  .simple__coupon__disclaimer {
    text-align: left;
    width:78%;
  }
  .simple__coupon__lower__body {
    font-size: 24px;
  }
}
